/*start header-page*/
.first-line {
    float: left;
}
.logo h1 {
    font-size:36px;
    font-family: 'Chunkfive';
}
.logo h1::after {
  content: ".";
  color: #f26060;
}
.search-bar {
  position:relative;
  top: -60px;
  float: right;
  width:201px;
  height: 29px;
  background-color:#fff;
  border:1px solid #ececec;
}
.search-bar .searchbutton {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #ececec;
    top: 20%;
    right: 5px;
    border: 0px;
    background-color: transparent;
    /*background:url(../images/icon_search.png) no-repeat;*/
}
.sfield {
    display: block;
    float: left;
    font: 12px;
    width: 201px;
    height: 33px;
    padding: 0px 0px 0px 10px;
    margin: -3px 0px 0px 0px;
    border: 0;
    background: transparent;
    font-size: 12px;
    font-family: 'HelveticaNeue';
    color: #000;
}
 .menu a {
  color: #000000;
  text-decoration: none;
   /*no underline */
}
.menu a {
    float: left;
    background-color: white;
    margin: -1px 0px 0px 0px;
    line-height: 60px;
    font-size: 14px;
    font-family: 'HelveticaNeue Medium';
    border-right: 1px solid #ececec;
}
.menu a {
    padding: 0px;
    border-top: 1px solid #ececec;
}
.menu a {
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #ececec;
}
.menu {
    margin:0px 0px 40px 0px ;
    height: 40px;
    border-top: 1px solid #ececec;
}
.menu a:hover {
  border-top: 1px solid #f26060;
  font-size: 14px;
  background-color:white;
  color: #f26060;
}
.menu a:active {
  border-top: 1px solid #f26060;
  font-size: 14px;
  background-color:white;
  color: #f26060;
}
.menu a:active {
  color:#f26060;
}
/*start about-page*/
.header-about h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Chunkfive';
}
.header-about {
    margin: 40px 0px 20px 0px;
}
.header-about p {
    margin-top: 35px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'HelveticaNeue Medium';
}
.pic-paragraph {
    display:block;
    float: right;
    font-size: 12px;
    line-height: 18px;
    font-family: 'HelveticaNeue Medium';
}
.pic-paragraph img {
    display: block;
    float: left;
    margin: 0px 40px 0px 0px;
}
.para {
    padding:0px 0px 5px;
    margin: -13px 0px 20px 0px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.big-d {
  float: right;
  font-size: 12px;
  line-height: 18px;
  font-family: 'HelveticaNeue';
}
.big-d::first-letter {
    float:left;
    margin:10px 5px 0px 0px;
    font-size: 36px;
    font-weight: bold;
    line-height: 18px;
    color: #f03c3c;
}
.block-q {
  font-size: 12px;
  font-family:'HelveticaNeue';
  font-weight: lighter;
  line-height: 18px;
  font-style: italic;
}
.block-q::before {
    float: left;
    content: '"';
    color: #f03c3c;
    font-size: 72px;
    margin: 20px 20px 0px -14px;
}
.para-3 {
    display: inline-block;
    width: 940px;
    height: 60px;
    padding:0px 20px 0px 0px;
    margin: 0px 20px 30px 0px;
    line-height: 18px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.colum-one {
    float: left;
    width: 470px;
}
.colum-two {
    float: right;
    width: 470px;
}
.para-4 {
    display: inline-block;
    width: 940px;
    height: 80px;
    margin: 0px 0px 50px 0px;
    line-height: 18px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.colum-1 {
    display: inline-block;
    float: left;
    width: 285px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}
.buttons {
    margin: 0px 0px 25px 0px;
    line-height: 20px;
    font-family: 'HelveticaNeue';
}
.button-1 {
    margin: 0px 20px 0px 0px;
    border: 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    font-size: 13px;
}
.green {
    background: #8aa82f;
}
.silver {
    background: #cfcfd0;
}
.blue {
    background: #6ea5ef;
}
.orange {
    background:#f07a43;
}
.purple {
    background:#e770e8;
}
.red {
    background:#f45555;
}
.baby-blue {
    background:#61d1d9;
}
.alert-0 {
    width: 936px;
    height: 58px;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 18px 0px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}
.green-alert {
    border: 1px solid #98c601;
    background-color: #effeb9;
    color: #98c601;
}
.red-alert {
    border: 1px solid #eb5439;
    background-color: #fbcbc1;
    color: #eb5439;
}
.orange-alert {
    border: 1px solid #fab418;
    background-color: #ffe9ad;
    color: #fab418;
}
.blue-alert {
    border: 1px solid #4d8fcb;
    background-color: #d1e4f3;
    color: #4d8fcb;
}
/*start contact-page*/
.contact-header {
    margin: 40px 0px 30px 0px;
}
.contact-header h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Chunkfive';
}
.contact-header p {
    margin-top: 35px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
    line-height: 16px;
}
.maps {
    margin: 30px 0px 35px 0px;
}
.imputs {
    margin-top: 35px;
}
.imputs div input {
    width: 216px;
    height: 33px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #eeeeee;
    background: #fafafa;
    color: #c6c6c6;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
    line-height: 28px;
}
textarea {
    width: 495px;
    height: 200px;
    resize: none;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #eeeeee;
    background: #fafafa;
    color: #c6c6c6;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.submit-c input {
  border: 0px;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
  background:#fff;
  color: #474747;
  font-weight: bold;
  font-family: 'HelveticaNeue';
}
.submit-c img {
  margin: 0px 5px;
  font-weight: 20px;
}
/*Start home-page*/
.slider {
    display: inline-block;
    width: 940px;
    height: 501px;
    margin: 0px 0px 50px 0px;
}
.first-row {
    display: inline-block;
}
.second-row {
    width: 940px;
    display: inline-block;
    margin: 0px 0px 0px -2px;
}
.second-row :first-child {
    float: left;
    margin: 0px 6px 0px 1px;
    padding: 0px 0px 0px 1px;
}
.second-row :last-child {
    margin-top: 2px;
}
ul.first-row {
    list-style-type: none;
    margin: 0px 0px 6px 0px;
    padding: 0;
    text-align: center;
}
ul.first-row li {
    display: inline-block;
    height: 74px;
    margin: 10px 0px 0px 3px;
    position: relative;
    width: 307px;
}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;
}
ul.first-row li:hover span.text-content {
  opacity: 1;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 74px;
  position: absolute;
  top: 0;
  width: 307px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
ul.third-row {
    list-style-type: none;
    margin: -12px 0px 0px -2px;
    padding: 0;
    text-align: center;
}
ul.third-row li {
    display: inline-block;
    height: 116px;
    margin: 10px 0px 0px 3px;
    position: relative;
    width: 307px;
}
span.text-content-3 span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;
}
span.text-content-3 {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 116px;
  position: absolute;
  top: 0;
  width: 307px;
  opacity: 0;
}
ul.third-row li:hover span.text-content-3 {
  opacity: 1;
}
span.text-content-3 {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 116px;
  position: absolute;
  width: 307px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
ul.second-row {
    list-style-type: none;
    margin: 0px 0px 0px -3px;
    padding: 0;
    text-align: center;
}
ul.second-row li {
    display: inline-block;
    height: 116px;
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 307px;
}
span.text-content-2 span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;
}
span.text-content-2 {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 116px;
  position: absolute;
  top: 0;
  width: 307px;
  opacity: 0;
}
ul.second-row li:hover span.text-content-2 {
  opacity: 1;
}
span.text-content-2 {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 116px;
  position: absolute;
  width: 307px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
#peopleHugs {
    position: relative;
    margin: 0px 0px 0px 316px;
}
#responsive {
    position: relative;
    margin: 69px 0px 0px 631px;
}
#fourPic {
    width: 623px;
    height: 299px;
    margin: 0px 0px 0px 2px;
}
#hugs {
    width: 308px;
    height: 183px;
    margin: 0px 0px 0px 1px;
}
#sixPic {
    width: 308px;
    height: 110px;
    margin: 0px 0px 0px 1px;
}
span.text-content-2 .cross-1 {
    margin: 140px 0px 0px 290px;
}
span.text-content-2 .cross-2 {
    margin: 70px 0px 0px 134px;
}
span.text-content-2 .cross-3 {
    margin: 35px 0px 0px 133px;
}
.home-header {
    font-size: 30px;
    font-family: 'Chunkfive';
}
.kainds {
    font-size: 14px;
    font-family: 'HelveticaNeue Medium';
}
.kainds span {
    color: #f14848;
}
.buttons-head button {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    background: #e9e9e9;
    font-size: 12px;
    font-weight: 22px;
    font-family: 'HelveticaNeue Bold';
    box-shadow: 0.3px #fbfbfb  #d1d1d1 #ececec #f5f5f5 ;
}
.buttons-head button:hover {
    background: #f3f3f3;
}
/*start-blog page*/
.read-box {
    position: absolute;
    top: 358px;
    left: 315px;
    width: 294px;
    height: 196px;
    opacity: 0.7;
    color: white;
    background-color: black;
    text-align: left;
}
.read-inside {
  margin: 20px 25px;
}
h4 {
    margin: 20px 25px;
    font-size: 24px;
    font-family: 'Chunkfive';
}
.read-box p  a {
    font-family: 'HelveticaNeue';
    font-size: 12px;
    margin: 20px 25px;
}
.read-box a {
  color: #ffffff;
  text-decoration: none;
   /*no underline */
}
.slogan-blog {
  display: inline-block;
}
.blog-box {
    float: left;
    padding: 0px 0px 15px 0px;
    margin-right: 20px;
    border: 1px solid #ccc;
}
.slogan-blog :last-child {
  margin-right: -20px;
}
.blog-box p {
    padding: 10px 0px 0px 10px;
    margin: 10px 0px 0px 0px;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: 'HelveticaNeue';
}
.date {
  display: inline-block;
}
.blog-box :last-child {
    padding: 0px 0px 0px 10px;
    color: #8a8a8a;
    font-size: 11px;
    line-height: 18px;
    font-family: 'HelveticaNeue Medium';
}
.slogan-blog h3 {
  text-align: center;
  font-family:'Chunkfive';
  font-size: 30px;
}
.blog-box img {
  height: 184px;
}
.blog-page-pic img {
  width: 540px;
  height: 400px;
}
.blog-page-pic {
    display: inline-block;
    float: left;
    width: 400px;
    height: 808px;
    margin-right: 177px;
}
.stats > .stats-1{
    display: inline-block;
    width: 100px;
    height: 60px;
    font-size: 12px;
    font-family: 'HelveticaNeue';
    color: #f03c3c;
}
.stats-1 span {
    display: inline-block;
    margin: 0px 50px 20px 0px;
    color: #000000;
}
.text-blog p {
  font-family: 'HelveticaNeue';
  font-size: 12px;
  line-height: 18px;
}
.visit-website a {
  color: #474747;
  text-decoration: none;
  font-size: 14px;
}
.visit-website img {
  margin: 0px 5px;
  font-weight: 20px;
}
.submit a {
  color: #2e2e2e;
  text-decoration: none;
   /*no underline */
  font-size: 12px;
  font-family:'HelveticaNeue Medium';
  line-height: 28px;
}
.submit img {
  margin: 0px 8px 0px 0px;
}
.image-hover {
    position: relative;
}
.image-hover > img {
    width: 100%;
    height: auto;
}
.image-hover .overlay-b {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    width: 211px;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}

.cross-b {
    position: absolute;
    width: 28px;
    height: 37px;
    top: 45%;
    left: 43%;
    content: "";
    background-image: url("../images/cross_hover.jpg")
}

.image-hover:hover .overlay-b {
    opacity: 1;
}