footer {
    margin: 25px auto;
    border-top: 1px solid #ececec;
}

.Social-Media {
    float: left;
    margin: 25px 5px 25px 0;
}

.right-position {
    float: right;
    margin: 25px 0;
    font-size: 11px;
    line-height: 10px;
}

h2 {
    font-size: 30px;
    font-family: 'Chunkfive';
    text-align: center;
}

.list {
    margin: 20px auto;
    font-size: 14px;
    font-family: 'HelveticaNeue Medium';
}

.box {
    width: 220px;
    margin-right: 13px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
}

h3 {
    font-family: 'HelveticaNeue';
    font-size: bold;
}

.date {
    margin-top: -15px;
    font-family: 'HelveticaNeue Medium';
    color: #c8c8c8;
    font-size: 11px;
}

.text {
    margin-top: 4px;
    padding: 0 20px 0 15px;
}
p {
    font-family: 'HelveticaNeue';
    font-size: 12px;
}

.submit {
    margin: 0 auto 20px 15px;
    font-family: 'HelveticaNeue Medium'
}

.roll {
    float: left;
}