footer {
    height: 60px;
    margin: 25px 0;
    border-top: 1px solid #ececec;
}

.Social-Media {
    float: left;
    margin: 25px 5px 25px 0;
}

.right-position {
    float: right;
    margin: 25px 0;
    font-size: 11px;
    line-height: 10px;
}

h2 {
    font-size: 30px;
    font-family: 'Chunkfive';
    text-align: center;
}

.list {
    margin: 20px auto;
    font-size: 14px;
    font-family: 'HelveticaNeue Medium';
}

.box {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.four.roll .box {
    margin-right: 0;
}
h3 {
    font-family: 'HelveticaNeue';
    font-size: bold;
}

.date {
    margin-top: -15px;
    margin-bottom: 15px;
    font-family: 'HelveticaNeue Medium';
    color: #c8c8c8;
    font-size: 11px;
}

.text {
    margin-top: 4px;
    padding: 0 20px 0 15px;
}
p {
    font-family: 'HelveticaNeue';
    font-size: 12px;
}

.submit {
    margin: 0 auto 20px 15px;
    font-family: 'HelveticaNeue Medium'
}

.roll {
    float: left;
}

.image-hover {
    position: relative;
}
.image-hover > img {
    width: 100%;
    height: auto;
}
.image-hover .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}

.cross {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 45%;
    left: 43%;
    content: "";
    background-image: url("../images/cross_hover.jpg")
}

.image-hover:hover .overlay {
    opacity: 1;
}
.previous-img {
    position: absolute;
    top: 361px;
    left: -12px;
    opacity: 0.9;
}

.arrow {
    position: absolute;
    top: 361px;
    background-size: 100% 100%;
    display: block;
    width: 90px;
    height: 73px;
}

.previous {
    left: -11px;
    background-image: url("../images/previous.png");
}

.next {
    right: -12px;
    background-image: url("../images/next.png");
}

.previous:before, .next:before {
    position: absolute;
    content: "";
    width: 13px;
    height: 11px;
    bottom: -11px;
}

.previous:before {
    left: 0;
    background-image: url("../images/previous_hook.jpg")
}

.next:before {
    right: 0;
    background-image: url("../images/next_hook.jpg")
}

.more {
    margin-left: 20px;
    opacity: 0.7;
    font-family: 'HelveticaNeue Medium';
    background-color: black;
    border: 0;
}

.left-side {
    float: left;
    width: 540px;
    margin-right: 40px;
}

.big-image {
    width: 530px;
    height: 400px;
    margin-bottom: 30px;
}

.right-side {
    float: right;
    width: 360px;
}

.rRr {
    float: left;
    margin-right: 20px;
}

.more-themes:last-child {
    margin-right: 0;
}