.first-line {
    float: left;
}
.logo h1 {
    font-size:36px;
    font-family: 'Chunkfive';
}
.logo h1::after {
  content: ".";
  color: #f26060;
}
.search-bar {
position:relative;
top: -60px;
float: right;
width:201px;
height: 29px;
background-color:#fff;
border:1px solid #ececec;
}
.search-bar .searchbutton {
position:absolute;
width: 20px;
height: 20px;
color: #ececec;
top:20%;
right:5px;
}
.sfield {
float: left;
/*margin: 5px 0 0 8px;*/
font: 8pt;
color: #000;
width:201px;
height: 29px;
line-height: 18px;
padding: 0;
background: transparent;
border: 0;
max-width: 201px
}
a {
  color: #000000;
  text-decoration: none; /* no underline */
}
.menu ul {
    float: left;
    text-align: center;
    background-color: white;
    padding: 0px 23px 0px 0px;
    margin: -1px 23px 0px 0px;
    line-height: 60px;
    font-size: 14px;
    border: 0px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}
.menu ul {
    padding: 0px;
    border-top: 1px solid #ececec;
}
.menu a {
    padding: 0px 5px 0px 5px;
    border-right: 1px solid #ececec;
}
.menu {
    height: 40px;
    border-top: 1px solid #ececec;
}
.menu ul:hover {
   border-top: 1px solid #f26060;
  font-size: 14px;
  background-color:white;
  color: #f26060;
}
.menu ul:active {
   border-top: 1px solid #f26060;
  font-size: 14px;
  background-color:white;
  color: #f26060;
}
.menu a:hover {
    color:#f26060;
}
.menu a:active {
  color:#f26060;
}
.header-about h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Chunkfive';
}
.header-about {
    margin: 40px 0px 25px 0px;
}
.header-about p {
    margin-top: 35px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.pic-paragraph {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 18px;
    font-family: 'Myriad Pro Regular';
}
.about-pic-men {
    float: left;
    margin: 0px 40px 0px 0px;
}
.para {
    margin:0px 0px 25px 0px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.para-1 p {
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.para-1 p::first-letter {
    float: left;
    margin: 0px 10px 25px 0px;
    font-size: 36px;
    font-family: 'HelveticaNeue Medium';
    color: #f26060;
}
.para-2 {
    float: left;
    margin: 0px 10px 25px 0px;
    font-size: 12px;
    font-style: italic;
    font-family: 'HelveticaNeue Light';
}
.para-2 span {
    font-size: 36px;
    color: #f26060;
    font-family: 'HelveticaNeue Light';
}
.para-3 {
    display: inline-block;
    width: 940px;
    height: 60px;
    margin: 0px 0px 25px 0px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.colum-one {
    float: left;
    width: 470px;
}
.colum-two {
    float: right;
    width: 470px;
}

.para-4 {
    display:inline-block;
    width: 940px;
    height: 80px;
    margin: 0px 0px 25px 0px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.colum-1 {
    float: left;
    width: 305px;
    /* padding: 0px; */
    margin: 0px 8px 0px 0px;
}
.buttons {
    margin: 0px 0px 25px 0px;
}
.green {
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    background: #8aa82f;
    font-size: 13px;
}
.silver {
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    background: #cfcfd0;
    font-size: 13px;
}
.blue {
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    background: #6ea5ef;
    font-size: 13px;
}
.orange {
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    background:#f07a43;
    font-size: 13px;
}
.purple {
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    background:#e770e8;
    font-size: 13px;
}
.red {
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    background:#f45555;
    font-size: 13px;
}
.baby-blue {
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    height: 36px;
    color: white;
    background:#61d1d9;
    font-size: 13px;
}
.green-alert {
    width: 936px;
    height: 58px;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 18px 0px;
    border: 1px solid #98c601;
    background-color: #effeb9;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #98c601;
}
.red-alert {
    width: 936px;
    height: 58px;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 18px 0px;
    border: 1px solid #eb5439;
    background-color: #fbcbc1;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #eb5439;
}
.orange-alert {
    width: 936px;
    height: 58px;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 18px 0px;
    border: 1px solid #fab418;
    background-color: #ffe9ad;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #fab418;
}
.blue-alert {
    width: 936px;
    height: 58px;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 18px 0px;
    border: 1px solid #4d8fcb;
    background-color: #d1e4f3;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #4d8fcb;
}
.contact-header {
    margin: 40px 0px 30px 0px;
}
.contact-header h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Chunkfive';
}
.contact-header p {
    margin-top: 35px;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.maps {
    margin: 30px 0px 35px 0px;
}
.imputs {
    margin-top: 35px;
}
.imputs div input {
    width: 216px;
    height: 33px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #eeeeee;
    background: #fafafa;
    color: #c6c6c6;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
textarea {
    width: 495px;
    height: 200px;
    resize: none;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #eeeeee;
    background: #fafafa;
    color: #c6c6c6;
    font-size: 12px;
    font-family: 'HelveticaNeue Medium';
}
.submit  button {
    width: 50px;
    /* height: 30px; */
    margin: 0px 20px 0px 0px;
    background-color: white;
    border: 0px;
    color: #000;
    font-size: 18px;
    font-family:'HelveticaNeue';
}
.slider {
    display: inline-block;
    width: 940px;
    height: 501px;
    margin: 35px 0px 50px 0px;
}
.first-row {
    display: inline-block;
}
.second-row {
    width: 940px;
    display: inline-block;
    margin: 0px 0px 0px -2px;
}
.second-row :first-child {
    float: left;
    margin: 0px 6px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.second-row :last-child {
    margin-top: 2px;
}
